h1,
h2,
h3,
p {
  font-style: Helvetica;
}

h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
}

.item {
  display: block;
}

span.price {
  color: blue;
  font-weight: bold;
}

#brush {
  background-color: mediumspringgreen;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#frames {
  background-color: lightcoral;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#paint {
  background-color: skyblue;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
